.bgcontainer{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    height: 100vh;
    width: 500px;
    padding: 5px;
    background-size: cover;
    font-size: 400;
    font-style: inherit;
}
.meals{
    color: rgb(20, 18, 18);
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    background-color: #F6C56E;
    padding: 5px;
    font-weight: bold;
}
.button{
    color: rgb(14, 12, 12);
    background-color: white;
    height:36px;
    width: 138px;
    border-radius: 10px;
    font-weight: bold;
}